@import url("./global.css");

body {
    background-color: var(--color-gray4);
}

/* ************ HEADER ************ */
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 200px;
    padding: 20px 0px;
    background-color: #000;
}

.nav-header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.nav-header-item {
    color: var(--color-gray1);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text1);
}

.container-btn-header {
    display: flex;
    gap: 16px;
}

.btn-header-login {
    padding: 8px 24px;
    color: #fff;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text1);
}

.btn-header-try {
    padding: 8px 24px;
    border-radius: 40px;
    background-color: var(--color-green);
    color: #000;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text1);
}

/* ************ MAIN ************ */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 60px 0px;
    background-color: #000;
}

.content-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 60px 0px;
}

.section-indicator {
    display: flex;
    align-items: center;   
    border: 1px solid var(--color-gray2);
    border-radius: 24px;
    color: var(--color-green);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text2);
}

main .section-indicator {
    align-self: self-start;
    gap: 8px;
    padding: 10px 12px;
    width: 137px;
}

h1 {
    width: 521px;
    color: var(--color-white);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-title1);
    font-weight: bold;
}

.content-main p {
    width: 583px;
    font-size: var(--font-size-subtitle);
}

.nav-main {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-main-primary{
    padding: 14px 24px;
    border-radius: 40px;
    background-color: var(--color-green);
    color: #000;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-button);
}

.btn-main-secondary {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 14px 24px;
    border: 1.5px solid var(--color-gray2);
    border-radius: 40px;
    color: var(--color-white);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-button);
}

/* ************ PARTNERS ************ */
.section-partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px 0px;
}

.section-partners p {
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text1);
}

.container-partners {
    display: flex;
    gap: 50px;
}

/* ************ FEATURES ************ */
.section-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 60px 0px;
    background-color: #000;
}

.content-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.content-features .section-indicator {
    padding: 12px 20px;
    width: 100px;
}

.content-features h2 {
    width: 444px;
}

.content-features p {
    width: 572px;
}

.container-features {
    display: flex;
    gap: 15px;
}

.card-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    padding: 40px 30px;
    border: 1px solid var(--color-gray2);
    border-radius: 12px;
}

.content-card-features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
}

.content-card-features h3 {
    color: var(--color-white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-subtitle);
    font-weight: 400;
}

.content-card-features p {
    width: 335px;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text1);
}