@import url("./global.css");

body {
    background-color: var(--color-gray4);
}

/* ************ HEADER ************ */
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 200px;
    padding: 20px 0px;
}

.nav-header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.nav-header-item {
    color: var(--color-gray1);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text1);
}

.container-btn-header {
    display: flex;
    gap: 16px;
}

.btn-header-login {
    padding: 8px 24px;
    color: #fff;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text1);
}

.btn-header-try {
    padding: 8px 24px;
    border-radius: 40px;
    background-color: var(--color-green);
    color: #000;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text1);
}

/* ************ MAIN ************ */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 60px 0px;
}

.content-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 60px 0px;
}

.section-indicator {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 12px;
    border: 1px solid var(--color-gray2);
    border-radius: 24px;
    width: 137px;
    color: var(--color-green);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text2);
}

h1 {
    width: 521px;
    color: var(--color-white);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-title1);
    font-weight: bold;
}

.content-main p {
    width: 583px;
}

.nav-main {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-main-primary{
    padding: 14px 24px;
    border-radius: 40px;
    background-color: var(--color-green);
    color: #000;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-button);
}

.btn-main-secondary {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 14px 24px;
    border: 1.5px solid var(--color-gray2);
    border-radius: 40px;
    color: var(--color-white);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-button);
}