@import url("./global.css");

body {
    background-color: #000;
}

/* ************ HEADER ************ */
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 200px;
    padding: 20px 0px;
}

.nav-header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.nav-header ul li {
    transition: 0.5s;
}

.nav-header ul li:hover {
    transform: scale(1.05);
}

.nav-header-item {
    color: var(--color-gray1);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text1);
    transition: 0.5s;
}

.nav-header-item:hover {
    color: var(--color-white);
}

.container-btn-header {
    display: flex;
    gap: 16px;
}

.btn-header-login {
    padding: 8px 24px;
    color: #fff;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text1);
    transition: 0.5s;
}

.btn-header-login:hover {
    background-color: var(--color-white);
    border-radius: 40px;
    color: #000;
}

.btn-header-try {
    padding: 8px 24px;
    border-radius: 40px;
    background-color: var(--color-green);
    color: #000;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text1);
    transition: 0.5s;
}

.btn-header-try:hover {
    opacity: 0.85;
}

/* ************ MAIN ************ */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 60px 0px;
}

.content-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 60px 0px;
}

.section-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-gray3);
    border-radius: 24px;
    color: var(--color-green);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text2);
}

main .section-indicator {
    align-self: self-start;
    gap: 8px;
    padding: 10px 12px;
    width: 137px;
}

h1 {
    width: 521px;
    color: var(--color-white);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-title1);
    font-weight: bold;
}

.content-main p {
    width: 583px;
    font-size: var(--font-size-subtitle);
}

.nav-main {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-main-primary {
    padding: 14px 24px;
    border-radius: 40px;
    background-color: var(--color-green);
    color: #000;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-button);
    transition: 0.5s;
}

.btn-main-primary:hover {
    opacity: 0.85;
}

.btn-main-secondary {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 14px 24px;
    border: 1.5px solid var(--color-gray3);
    border-radius: 40px;
    color: var(--color-white);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-button);
    transition: 0.5s;
}

.btn-main-secondary:hover {
    border-color: var(--color-green);
}

/* ************ PARTNERS ************ */
.section-partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px 0px;
    background-color: var(--color-gray4);
}

.section-partners p {
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text1);
}

.container-partners {
    display: flex;
    gap: 50px;
}

.logo-partners {
    cursor: pointer;
    transition: 0.5s;
}

.logo-partners:hover {
    transform: scale(1.05);
}

/* ************ FEATURES ************ */
.section-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 60px 0px;
}

.content-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.content-features .section-indicator {
    padding: 12px 20px;
    width: 100px;
}

.content-features h2 {
    width: 444px;
}

.content-features p {
    width: 572px;
}

.container-features {
    display: flex;
    gap: 15px;
}

.card-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    padding: 40px 30px;
    border: 1px solid var(--color-gray3);
    border-radius: 12px;
    background-color: #ffffff04;
    transition: 0.5s;
}

.card-features:hover {
    transform: translateY(-5px);
    box-shadow: 2px 1px var(--color-green);
}

.content-card-features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
}

.content-card-features h3 {
    color: var(--color-white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-subtitle);
    font-weight: 400;
}

.content-card-features p {
    width: 335px;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text1);
}

/* ************ STATISTICS ************ */
.section-statistics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 60px 0px;
    background-color: var(--color-gray4);
}

.content-statistics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.content-statistics .section-indicator {
    padding: 12px 20px;
    width: 100px;
}

.content-statistics h2 {
    width: 704px;
}

.content-statistics p {
    width: 644px;
}

.container-statistics {
    display: flex;
    gap: 72px;
}

.statistics-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.statistics-number {
    color: var(--color-green);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-title2);
}

.statistics-description {
    font-size: var(--font-size-subtitle);
}

/* ************ TECHNOLOGIES ************ */
.section-technologies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 60px 0px;
}

.content-technologies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.content-technologies .section-indicator {
    padding: 12px 20px;
    width: 100px;
}

.content-technologies h2 {
    width: 890px;
}

.content-technologies p {
    width: 644px;
}

.container-technologies {
    display: flex;
    align-items: center;
    gap: 70px;
}

.group-technologies {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.card-technologies {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 30px 20px;
    border: 1px solid var(--color-gray3);
    border-radius: 20px;
    background-color: var(--color-gray4);
}

.content-card-technologies {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.content-card-technologies h3 {
    color: var(--color-white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-subtitle);
    font-weight: 400;
}

.content-card-technologies p {
    width: 530px;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text1);
}

/* ************ FAQ ************ */
.section-faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 60px 0px;
    background-color: var(--color-gray4);
}

.content-faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.content-faq .section-indicator {
    padding: 12px 20px;
    width: 70px;
}

.content-faq h2 {
    width: 855px;
}

.content-faq p {
    width: 644px;
}

.container-faq {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 792px;
}

.card-faq {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    border: 1px solid var(--color-gray3);
    cursor: pointer;
}

.card-faq h3 {
    color: var(--color-white);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text1);
    font-weight: 400;
}

.expansion-card-faq {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.minus-faq {
    width: 15px;
    height: 1.5px;
    background-color: var(--color-white);
    position: absolute;
}

.plus-faq {
    width: 1.5px;
    height: 15px;
    background-color: var(--color-white);
    position: absolute;
}

/* ************ REVOLUTIONARY ************ */
.section-revolutionary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 60px 0px;
}

.section-revolutionary .section-indicator {
    padding: 12px 20px;
    width: 140px;
}

.section-revolutionary h2 {
    width: 878px;
    text-align: center;
}

.section-revolutionary p {
    width: 644px;
    text-align: center;
}

.btn-revolutionary {
    padding: 14px 24px;
    background-color: var(--color-green);
    color: #000;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-button);
}

/* ************ FOOTER ************ */
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 126px;
    padding: 40px 0px;
}

.content-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 690px;
}

.links-footer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.links-footer h2 {
    font-family: var(--font-family-inter);
    font-size: var(--font-size-subtitle);
}

.nav-footer ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.nav-footer-item {
    color: var(--color-gray1);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text2);
}

.join-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid var(--color-gray3);
}

.join-footer label {
    width: 198px;
    color: #D8D8D8;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-subtitle);
    font-weight: 400;
}

.email-footer {
    display: flex;
    justify-content: space-between;
    width: 385px;
}

.email-footer input {
    width: 133px;
    background-color: transparent;
    color: var(--color-gray1);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text2);
    outline: none;
}

.btn-footer {
    background-color: transparent;
    cursor: pointer;
}